<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egaldino.app.msearch" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.egaldino.app.msearch.activity.SplashScreenActivity"
            android:label="@string/title_activity_splash_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.egaldino.app.msearch.activity.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.egaldino.app.msearch.activity.ProductActivity"
            android:noHistory="true"
            android:label="@string/title_activity_product">
        </activity>
        <activity
            android:name="com.egaldino.app.msearch.activity.SuggestProductActivity"
            android:label="@string/title_activity_suggest_product">
        </activity>
        <activity
            android:name="com.egaldino.app.msearch.activity.SuggestMarketActivity"
            android:label="@string/title_activity_suggest_market" >
        </activity>

        <service
            android:name="com.egaldino.app.msearch.service.FindProductService"
            android:exported="false" >
        </service>
        <service
            android:name="com.egaldino.app.msearch.service.ListPlacesService"
            android:exported="false" >
        </service>
        <service
            android:name="com.egaldino.app.msearch.service.ListMarketsService"
            android:exported="false" >
        </service>
        <service
            android:name="com.egaldino.app.msearch.service.SuggestMarketService"
            android:exported="false" >
        </service>
        <service
            android:name="com.egaldino.app.msearch.service.SuggestProductService"
            android:exported="false" >
        </service>
        <service
            android:name="com.egaldino.app.msearch.service.SuggestPriceService"
            android:exported="false" >
        </service>
        <service
            android:name="com.egaldino.app.msearch.service.ConfirmPriceService"
            android:exported="false" >
        </service>
    </application>

</manifest>
